Login Fail Reverse Proxy Ip Wrong

Hello in my case not show the real IP only de proxy IP

<img width="418" alt="screenshot 2018-08-28 at 14 43 21" src="https://user-images.githubusercontent.com/9153126/44857051-da112b00-ac66-11e8-8558-d81438854879.png">

```
http:
    api_password: !secret api_password
    server_port: !secret api_port
    base_url: https://home.XXXXX.com
    use_x_forwarded_for: true
    trusted_proxies:
      - 127.0.0.1
    ip_ban_enabled: true
    login_attempts_threshold: 5
```

Nginx

```
proxy_set_header Host $host;
proxy_redirect http:// https://;
proxy_http_version 1.1;
proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
proxy_set_header Upgrade $http_upgrade;
proxy_set_header Connection $connection_upgrade;
```

Please format your config 

I helped @brunohorta82 out and formatted.

thanks


@brunohorta82 is it possible you have two proxy between your browser and home-assistant?

cc @colinodell 

In PR #15204, you changed logic to get the last ip in XFF header instead of the first one. Here is your comment
> The X-Forwarded-For header usually only contains a single IP. However, it's possible that some reverse proxies may respect an existing header and append the IP they detect at the end. According to Wikipedia:

> > The last IP address is always the IP address that connects to the last proxy, which means it is the most reliable source of information

> If multiple IPs are present, we should not trust any previous ones in the string since those come from potentially untrusted sources - only the last one is from our trusted proxy. The second commit in this PR therefore ensures that we only look at this IP.

So basically we are logging and maybe banned a proxy in-the-middle, but not the "real ip". I am not sure  whether we are doing right thing. 

Wiki is not a reliable source, when I check wiki following your link, I found the text you are referencing already changed by other people :smile:  I think we should always reference RFC if possible

Under [RFC 7239 Section 5.2](https://tools.ietf.org/html/rfc7239#section-5.2)
> In a chain of proxy servers where this is fully utilized, the first
   "for" parameter will disclose the client where the request was first
   made, followed by any subsequent proxy identifiers.  The last proxy
   in the chain is not part of the list of "for" parameters.  The last
   proxy's IP address, and optionally a port number, are, however,
   readily available as the remote IP address at the transport layer.
   It can, however, be more relevant to read information about the last
   proxy from preceding "Forwarded" header field's "by" parameter, if
   present.


@awarecan RFC 7239 is for the (relatively new) standardized `Forwarded` header - but we're using the non-standard `X-Forwarded-For` here which unfortunately has no accepted RFC to standardize its behavior.

Unfortunately I don't know when I'll have time to look closer at this, but I did find that [aiohttp has a middleware library](https://aiohttp-remotes.readthedocs.io/en/stable/) which can handle both [`X-Forwarded-For`](https://aiohttp-remotes.readthedocs.io/en/stable/api.html#aiohttp_remotes.XForwardedStrict) and [`Forwarded`](https://aiohttp-remotes.readthedocs.io/en/stable/api.html#aiohttp_remotes.ForwardedStrict) headers (see the strict variations).  It might be worthwhile to look at those and see whether we should rely on their implementation instead of our own.

Is this still an issue you are experiencing? Can you please try upgrading to the latest version of Home Assistant (0.90) and report back if this is still a problem? Thanks!

I used to have a very similar issue as described in #16693, but can't reproduce this anymore in later versions. Please reopen if you still have this issue on the latest version.